// Place all the styles related to the Sotrudnikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar {
  float: right;
  width: 175px;
  background-color: #cccccc;
  font-style: italic;
  font-size: medium;
}
